Package: com.ilewiscx.cloneshelmets
Name: Zeppelin: Star Wars and TCW Clones
Version: 1.1
Architecture: iphoneos-arm
Description: Iconic Clones from the Star Wars for Zeppelin
Author: iLewisCx
Maintainer: PINPAL (pinpal.official@gmail.com)
Section: Addons - Zeppelin
Depends: com.alexzielenski.zeppelin
Depiction: https://pinpal.github.io/depiction/?CloneHelmets
