/*Main site*/
@font-face { font-family: "SF Pro Display"; src: url("assets/SF-Pro-Display-Regular.otf"); }

/*Expand/Collapse buttons*/
button[type = "button"] {
  float: right;
  background: linear-gradient(to right, #55B49D , #2B7DCA);
  text-align: center;
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
  color: white !important;
  font-size: 0px;
  border: none;
  margin-right: 5px;
  outline: none;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  vertical-align: middle;
  position: absolute;
  top: 30px;
  right: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition-delay: 0.5s;
}
button[type = "button"]:hover {
  font-size: 20px;
  padding-left: 40px;
  max-width: 350px;
  filter: hue-rotate(90deg);
  transition-delay: 0s;
}

.expandIcon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 25px;
  height: 25px;
}

/*Toggled css*/
.animateNone{
  animation: none!important;
  overflow-x: visible!important;
  height: auto!important;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
li {
  float: left;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.08);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
   background: rgba(255,255,255,0.20);
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
   background: rgba(255,255,255,0.25);;
}

/*Background Color*/
body {
  background-color: #292C30;
  margin: 0;
  margin-top: 10px;
}

/* unvisited link */
a:link {
    color: #87a3ff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #87a3ff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
a:active {
    color: hotpink;
    text-decoration: none;
}

/*Navbar*/
.navbar {
  background: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "SF Pro Display";
  border-radius: 25px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 900px;
  margin-bottom: 25px;
}

/*Navbar logo*/
.logo {
  width: 35px;
  margin-right: 10px;
}

/*Navbar Text*/
#title {
    color: white;
    font-family: "SF Pro Display";
    font-size: 26px;
    font-weight: bold;
    float:left;
}
@media screen and (max-width: 900px) {
  #title {
    font-size: 0px;
  }
}

/* Button */
.button {
  background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "SF Pro Display";
  border-radius: 25px;
  padding: 12px;
  color:white;
  font-size: 20px;
  max-width: 200px;
  min-width: 200px;
  max-height: 25px;
  min-height: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.button:hover {
  padding-top: 9px;
  padding-bottom: 15px;
  filter: hue-rotate(90deg);
  font-size: 24px;
}

#subtitle {
    color: white;
    font-family: "SF Pro Display";
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    line-height: 1.0;
    text-transform: capitalize;
}
#subsubtitle {
    color: white;
    font-family: "SF Pro Display";
    font-size: 19px;
    font-weight: normal;
    text-align: left;
    margin-left: 15px;
    line-height: 1.0;
    margin-top: -8px;
    opacity: .6;
    display: inline-block;
}

.packageicon {
  width: 55px;
  height: 55px;
  align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.bigBox:hover .packageicon {
  width: 80px;
  height: 80px;
}

.packageIconHolder {
  width: 55px;
  height: 55px;
  align: left;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.bigBox:hover .packageIconHolder {
  padding: 55px;
  left: -40px;
  top: -40px;
  width: 500px;
  height: 300px;
}

.packageContentHolder {
  position: absolute;
  left: 110px;
  top: 16px;
  max-width: 290px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.bigBox:hover .packageContentHolder {
  top: 9px;
}

.bigBox {
  background: #2F3439;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: left;
  color: white;
  border-radius: 25px;
  padding: 15px;
  line-height: 1.6;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03);
  border-width: 2px;
  color: white;
  width: 380px;
  font-family: "SF Pro Display";
  margin-left: 15px;
  min-height: 78px;
  max-height: 78px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.packageTitle {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.bigBox:hover .packageTitle {
  font-size: 24px;
}

.packageDescription {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 16px;
}

.packageGreyDescription {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 16px;
  color: rgba(255,255,255,.6)
}

.scroller {
  height: 140px;
  width: 10000px;
  overflow-x:hidden;
}

#scroller-page {
  animation: animatePages 9s linear infinite; /*3 seconds per BigBox*/
}

@keyframes animatePages {
  100% {
    transform: translateX(-1295px); /*one BigBox is 425 pixels plus add 20px to fix animation bug*/
  }
}

#scroller-repo {
  animation: animateRepo 18s linear infinite; /*3 seconds per BigBox*/
}

@keyframes animateRepo {
  100% {
    transform: translateX(-2570px); /*one BigBox is 425 pixels plus add 20px to fix animation bug*/
  }
}

#scroller-packages {
  animation: animatePackages 9s linear infinite; /*3 seconds per BigBox*/
}

@keyframes animatePackages {
  100% {
    transform: translateX(-1295px); /*one BigBox is 425 pixels plus add 20px to fix animation bug*/
  }
}

#scroller-projects {
  animation: animateProjects 45s linear infinite; /*3 seconds per BigBox*/
}

@keyframes animateProjects {
  100% {
    transform: translateX(-6395px); /*one BigBox is 425 pixels plus add 20px to fix animation bug*/
  }
}

.subsection {
  position: relative;
  background-color: rgba(255,255,255,0);
  padding-top: 10px;
}
.subsection:hover {
  background-color: rgba(255,255,255,0.05)
}
.subsection:hover .scroller {
  animation-play-state: paused !important;
}

.cydiaIcon {
  width:35px;
  height:35px;
  margin-top:-5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.button:hover .cydiaIcon {
  width: 40px;
  height: 40px;
}

.wrapper {
  width: 100%;
  max-width: 2160px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}