
@font-face { font-family: "SF Pro Display"; src: url("../SF-Pro-Display-Regular.otf"); }

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.08);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
   background: rgba(255,255,255,0.20);
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
   background: rgba(255,255,255,0.25);;
}

/*Background Color*/
body {
  background-color: #292C30;
  margin: 0;
}

/* unvisited link */
a:link {
    color: #87a3ff;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #87a3ff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
a:active {
    color: hotpink;
    text-decoration: none;
}

/*Navbar*/
.navbar {
  background: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "SF Pro Display";
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 900px;
  margin-bottom: 25px;
}

/*Navbar logo*/
.logo {
  width: 35px;
  margin-right: 10px;
}

/*Navbar Text*/
#title {
    color: white;
    font-family: "SF Pro Display";
    font-size: 26px;
    font-weight: bold;
    float:left;
}
@media screen and (max-width: 900px) {
  #title {
    font-size: 0px;
  }
}

/* Button */
.button {
  display: none;
  background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  vertical-align: middle;
  position: absolute;
  font-family: "SF Pro Display";
  border-radius: 25px;
  font-size: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  color:rgba(255,255,255,0);
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  position: absolute;
  border: none;
  right: 15px;
  top: 35px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition-delay: 0.5s;
}
.button:hover {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  filter: hue-rotate(90deg);
  font-size: 20px;
  max-width: 100%;
  transition-delay: 0s;
}
.buttonIcon {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition-delay: 0.5s;
}
.button:hover .buttonIcon {
  transition-delay: 0s;
  margin-right: 10px;
}

#subtitle {
    color: white;
    font-family: "SF Pro Display";
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    line-height: 1.0;
}
#subsubtitle {
    color: white;
    font-family: "SF Pro Display";
    font-size: 19px;
    font-weight: normal;
    text-align: left;
    margin-left: 15px;
    line-height: 1.0;
    margin-top: -8px;
    opacity: .6;
}

.packageicon {
  width: 55px;
  height: 55px;
  align: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.bigBox:hover .packageicon {
  width: 80px;
  height: 80px;
}

.packageIconHolder {
  width: 55px;
  height: 55px;
  align: left;
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 0;
}
.bigBox:hover .packageIconHolder {
  padding: 55px;
  left: -40px;
  top: -40px;
  width: 500px;
  height: 300px;
}

.packageContentHolder {
  position: absolute;
  left: 110px;
  top: 16px;
  max-width: 290px;
  overflow: hidden;
  max-height: 90px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.bigBox:hover .packageContentHolder {
  top: 9px;
}

.bigBox {
  background: #2F3439;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: left;
  color: white;
  border-radius: 25px;
  padding: 15px;
  line-height: 1.6;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03);
  border-width: 2px;
  color: white;
  font-family: "SF Pro Display";
  margin-left: 15px;
  margin-bottom: 15px;
  min-height: 78px;
  max-height: 78px;
  min-width: 382px;
  max-width: 382px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.packageTitle {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.bigBox:hover .packageTitle {
  font-size: 24px;
}

.packageDescription {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 16px;
}

.packageGreyDescription {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 16px;
  color: rgba(255,255,255,.6)
}

.scrollerContainer {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 150px;
}

.scroller {
  min-width: 1000%;
}

.subsection {
  background-color: rgba(255,255,255,0);
  padding-top: 10px;
  padding-bottom: 20px;
  position: relative;
}
.subsection:hover {
  background-color: rgba(255,255,255,0.05)
}
.subsection:hover .scroller {
  animation-play-state: paused !important;
}
.subsection:hover .button {
  display: inline;
}

.wrapper {
  width: 100%;
  max-width: 2160px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}