Package: com.ilewiscx.clones
Name: Zeppelin: Star Wars: Clones
Version: 1.3
Architecture: iphoneos-arm
Description: Star Wars Clones for Zeppelin
Author: iLewisCx
Maintainer: PINPAL (pinpal.official@gmail.com)
Section: Addons - Zeppelin
Depends: com.alexzielenski.zeppelin
Depiction: https://pinpal.github.io/depiction/?ZeppelinLogo
