@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11.5pt;
}

/* Scrollbar*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  --accent: #3385ff;

  --background: #f3f7fb;
  --background-dark: #0e1726;
  --background-light: #ffffff;
  --background-intermediary: #dadde2;

  --text-color-primary: #152033;
  --text-color-secondary: #7b7f86;

  --text-color-button: 134, 148, 172;

  --border-color: #f3f3f9;
}

/* Scrollbar*/
::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 0;
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}
::-webkit-scrollbar-track:hover {
  background-color: var(--background-intermediary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-color-secondary);
  border-radius: 16px;
  border: 6px solid var(--background);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-secondary);
  border: 4px solid var(--background-intermediary);
}
::-webkit-scrollbar-button {
  display: none;
}

body {
  box-sizing: border-box;
  background-color: var(--background);
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

h1 {
  font-size: 16pt;
  font-weight: 600;
  text-align: left;
  color: var(--text-color-primary);
}
p {
  text-align: left;
}
mark {
  background-color: var(--background-intermediary);
  padding-left: 5px;
  padding-right: 5px;
}

/* navbar */
#navbar {
  color: var(--background-light);
  position: fixed;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);
  background: var(--background-dark);
  width: 100vw;
  height: calc(2rem + 36px);
  max-height: calc(2rem + 36px);
  line-height: calc(2rem + 36px);
  z-index: 999;
  font-weight: 600;
  font-size: 12pt;
  box-shadow: 0 22px 50px 4px rgba(0, 0, 0, 0.2),
    0 -22px 50px 4px rgba(0, 0, 0, 0.2);
}
#navbar * {
  white-space: nowrap;
}
#navbar a {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 16px;
  height: calc(2rem + 36px);
  display: inline-block;
  text-decoration: none;
  color: var(--background-light);
}
#navbar a.selected {
  color: var(--accent);
  border-bottom: var(--accent) solid 6px !important;
  background-color: rgba(var(--text-color-button), 0.05);
}
#navbar a:hover {
  border-bottom: rgb(var(--text-color-button)) solid 6px;
  background-color: rgba(var(--text-color-button), 0.25);
}
#navbar img {
  height: calc(2rem + 8px);
  vertical-align: middle;
  margin: 0 4px;
}
#navInner {
  text-align: left;
  max-width: 900px;
  width: calc(100% - 16px);
  margin: 0 auto;
}
#navInner .rightAlign {
  float: right;
  text-align: right;
}

/* bottom bar*/
#modeSwitcher {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  left: 50vw;
  transform: translateX(-50%);
  background: var(--background-dark);
  border-radius: 24px;
  padding: 0 24px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.33),
    0 22px 50px 4px rgba(0, 0, 0, 0.2), 0 -22px 50px 4px rgba(0, 0, 0, 0.2),
    0 2px 5px 2px rgba(0, 0, 0, 0.15), 0 -2px 5px 2px rgba(0, 0, 0, 0.15);
}
#modeSwitcher button {
  width: 70px;
  background: none;
  outline: none;
  border: none;
  color: rgb(var(--text-color-button), 0.8);
  padding: 12px 8px;
  margin: 0 8px;
  font-size: 9.5pt;
  cursor: pointer;
}
#modeSwitcher button svg {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto 4px auto;
  stroke-width: 8px;
}
#modeSwitcher button svg * {
  fill: none;
  stroke-width: 36px;
  stroke: rgb(var(--text-color-button));
  stroke-linecap: round;
  stroke-linejoin: round;
}
/* hover */
#modeSwitcher button:hover {
  color: rgb(var(--text-color-button));
}
#modeSwitcher button:hover svg .fill {
  fill: rgb(var(--text-color-button), 0.45);
}
/* selected */
#modeSwitcher button.selected {
  color: var(--background-light);
}
#modeSwitcher button.selected svg .fill {
  fill: var(--background-light);
}
#modeSwitcher button.selected svg * {
  stroke: var(--background-light);
}

/* handles flicking between pages */
.content {
  box-sizing: border-box;
  overflow-x: visible;
  overflow-y: auto;
  max-width: 100vw;
  max-height: calc(100vh - (36px + 2rem));
  padding-bottom: 120px;
  padding-top: calc(20px + 2rem);
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: calc(36px + 2rem);
  left: 50vw;
  transform: translateX(-50%);
  transition: opacity 0.325s ease, transform 0.325s ease,
    max-height 0s step-start 0s, max-width 0s step-start 0s;
}
.content.hidden {
  opacity: 0;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: opacity 0.325s ease, transform 0.325s ease,
    max-height 0s step-end 0.65s, max-width 0s step-end 0.65s;
}

.tableList {
  user-select: none;
  background: var(--background-light);
  border-radius: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.03),
    0 22px 50px 4px rgba(0, 0, 0, 0.05);
  z-index: 99;
  position: relative;
  padding: 6px 0;
  overflow: hidden;
  width: calc(100vw - 24px);
  max-width: 900px;
}
.tableList .letterIndicator {
  height: 1em;
  min-height: 1em;
  max-height: 1em;
  text-align: left;
  background: var(--background-intermediary);
  font-weight: 600;
  color: var(--text-color-secondary);
  padding: 6px 24px;
  margin: -6px 0 0 0;
  border: none;
}
.tableList > div > div {
  position: relative;
  height: 2em;
  min-height: 45px;
  padding: 0 24px 6px 24px;
  border-bottom: solid var(--border-color) 2px;
  display: inline-block;
  width: calc(100vw - 16px);
  max-width: 900px;
  margin-top: 6px;
}
.tableList > div > div:last-of-type {
  border-bottom: none;
}

/* grid view */
.tableList.isGridView > div > div {
  min-width: 250px;
  width: 100%;
  max-width: 250px;
  margin: 0 6px;
  padding: 6px 6px;
}
.tableList.isGridView h1,
.tableList.isGridView input {
  left: 66px;
  width: calc(100% - 108px);
}
.tableList.isGridView .letterIndicator {
  display: none;
}
.tableList.isGridView {
  padding: 12px 0;
}
.tableList.isGridView > div > div:last-of-type {
  border-bottom: solid var(--border-color) 2px;
}

/* cell styling */
.tableList img {
  float: left;
  border-radius: 11px;
  width: 42px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.tableList#preferencesIconsList img {
  width: 36px;
  border-radius: 9px;
}
.tableList h1,
.tableList input {
  width: calc(100% - 132px);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-primary);
  position: absolute;
  left: 84px;
  font-weight: normal;
  font-size: 11pt;
  text-align: left;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  padding: 0;
}
.tableList h1 {
  top: 8px;
}
.tableList input {
  bottom: 8px;
  color: var(--text-color-secondary);
}

.leftAlign {
  text-align: left;
}

/* rounded button */
.roundedButton {
  font-size: 12pt;
  margin: 12px 2px;
  outline: none;
  border: none;
  padding: 4px 12px;
  border-radius: 8px;
  background: var(--background-light);
  box-shadow: inset 0 1px 0 rgba(200, 200, 200, 0.35),
    0 6px 10px 4px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  line-height: 24px;
}
.roundedButton svg {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 4px;
  opacity: 0.4;
}
.roundedButton svg * {
  fill: var(--text-color-primary);
}
/* hover */
.roundedButton:hover {
  background: var(--accent);
  color: white;
}
.roundedButton:hover svg * {
  fill: white;
}

/* mobile settings */
@media only screen and (max-width: 600px) {
  #modeSwitcher {
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
    border-radius: 0;
  }
  .roundedButton {
    display: none;
  }
  #navbar .selected {
    display: none;
  }
  #navbar .rightAlign a:last-of-type::before {
    content: "View ";
  }
}
@media only screen and (max-width: 1000px) {
  .content {
    padding-left: 8px;
    padding-right: 16px;
  }
}
